/* ボタン関係のやつ */
.Button_component {
  border: none;
  color: white;
  width: 128px; /* 幅と高さを同じに */
  height: 128px; /* 幅と高さを同じに */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  margin: 5px;
}

.Button_plus {
  background-color: #4caf50;
}
.Button_plus:hover {
  background-color: #45a049;
}
.Button_minus {
  background-color: #ef5350;
}
.Button_minus:hover {
  background-color: #e57373;
}

/* ブロック関係のやつ*/
.CounterBlock {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* testボックス関係のやつ*/
.CounterBlock textarea {
  display: flex;
  justify-content: center;
  font-size: 48px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}
.testmemo_numbermemo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.testmemo_numbermemo p {
  padding: 0;
  margin: 0;
  font-size: 56px;
}
