.Button_component {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.Button_plus {
  background-color: #4caf50;
}
.Button_plus:hover {
  background-color: #45a049;
}
.Button_minus {
  background-color: #ef5350;
}
.Button_minus:hover {
  background-color: #e57373;
}
